description: Default Profile for playing with Ansible
devices:
  eth0:
    name: eth0
    network: ans0
    type: nic
  root:
    path: /
    pool: default
    type: disk
name: default
used_by: []
config:
  user.user-data: |
    #cloud-config
    package_upgrade: true
    users:
    - name: ansibleuser
      gecos: Ansible User
      ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCV4M3/xEaGwvyDzyZI0bLD/dKousYc+TSiLvhUFoEnhfK/aHM4ivlo1Gg+7d5gvXeTLCR8e1KFSQuQK8S25TRBD0f4OUo0Jm4zlegas3tes5A1Xws2PbttR29gE/U1xat1q7rmCL5JqkRiTZMYwXhMcf9J4h6u0YTohj1Z4Ltm62gzuO2HZdj0VYXPGwg3wsvSAWmGL6LTQSAzHkpaa8b8z9AivIEWx5nNVZLC753HcsKTVWRT3zwnvnTJ51bDqCk/nt71eUgtLw+1z71uGkX+B1xPB9zHZRRC029ZV5h40j1Kn7ZVfc383RjGqvB8ei/qlrO1oKltNMvcin9oIFJbRd+BxgCGg1Ee95fZJEFqhHOiQUbtUoh4dF4C3GCsbjkIJmqKl+LUzavi2//LysxrNYUYAUzFzCsRV65rzoQZL8gKQhuxXtDaoatEvfpfOgFXxFNL2/Z6fAsQ5Rl2EGNl1ny2rtRX/M7CuRvFyIkW5vgmPYXbDYCbjtIE6NB3RKs= Ansible meets LXD containers
      sudo: ALL=(ALL) NOPASSWD:ALL
      shell: /bin/bash
      plain_text_passwd: 'supersecretpassword'
